[Unit]
Description=Stop frecon so that the display server can start
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/kill_frecon
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
